In [1]:
#Fundamentos em Big Data
#Tarefa 02
#Aluno: Leandro Ariel Caputo
#31/01/2021

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType

In [3]:
spark = SparkSession.builder \
                    .appName("Tarefa_02") \
                    .config("spark.some.config.option", "some-value") \
                    .getOrCreate()

In [6]:
df = spark.read.csv('DNPBA2017.csv', header=True)
df2 = spark.read.csv('RELATORIO_DTB_BRASIL_MUNICIPIO.csv', header=True, encoding='ISO-8859-1')

In [7]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- NUMERODN: string (nullable = true)
 |-- CODINST: string (nullable = true)
 |-- ORIGEM: string (nullable = true)
 |-- NUMERODV: string (nullable = true)
 |-- PREFIXODN: string (nullable = true)
 |-- CODESTAB: string (nullable = true)
 |-- CODMUNNASC: string (nullable = true)
 |-- LOCNASC: string (nullable = true)
 |-- IDADEMAE: string (nullable = true)
 |-- ESTCIVMAE: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- CODOCUPMAE: string (nullable = true)
 |-- QTDFILVIVO: string (nullable = true)
 |-- QTDFILMORT: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- GESTACAO: string (nullable = true)
 |-- GRAVIDEZ: string (nullable = true)
 |-- PARTO: string (nullable = true)
 |-- CONSULTAS: string (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- HORANASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- APGAR1: string (nullable = true)
 |-- APGAR5: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- PESO: string (nullable = true)
 |-- IDANOMAL: string (nullable = true)
 |-- DTCADASTRO: string (nullable = true)
 |-- CODANOMAL: string (nullable = true)
 |-- NUMEROLOTE: string (nullable = true)
 |-- VERSAOSIST: string (nullable = true)
 |-- DTRECEBIM: string (nullable = true)
 |-- DIFDATA: string (nullable = true)
 |-- DTRECORIGA: string (nullable = true)
 |-- NATURALMAE: string (nullable = true)
 |-- CODMUNNATU: string (nullable = true)
 |-- CODUFNATU: string (nullable = true)
 |-- ESCMAE2010: string (nullable = true)
 |-- SERIESCMAE: string (nullable = true)
 |-- DTNASCMAE: string (nullable = true)
 |-- RACACORMAE: string (nullable = true)
 |-- QTDGESTANT: string (nullable = true)
 |-- QTDPARTNOR: string (nullable = true)
 |-- QTDPARTCES: string (nullable = true)
 |-- IDADEPAI: string (nullable = true)
 |-- DTULTMENST: string (nullable = true)
 |-- SEMAGESTAC: string (nullable = true)
 |-- TPMETESTIM: string (nullable = true)
 |-- CONSPRENAT: string (nullable = true)
 |-- MESPRENAT: string (nullable = true)
 |-- TPAPRESENT: string (nullable = true)
 |-- STTRABPART: string (nullable = true)
 |-- STCESPARTO: string (nullable = true)
 |-- TPNASCASSI: string (nullable = true)
 |-- TPFUNCRESP: string (nullable = true)
 |-- TPDOCRESP: string (nullable = true)
 |-- DTDECLARAC: string (nullable = true)
 |-- ESCMAEAGR1: string (nullable = true)
 |-- STDNEPIDEM: string (nullable = true)
 |-- STDNNOVA: string (nullable = true)
 |-- CODPAISRES: string (nullable = true)
 |-- TPROBSON: string (nullable = true)
 |-- PARIDADE: string (nullable = true)
 |-- KOTELCHUCK: string (nullable = true)

In [8]:
df2.printSchema()

root
 |-- UF: string (nullable = true)
 |-- Nome_UF: string (nullable = true)
 |-- Mesorregião Geográfica: string (nullable = true)
 |-- Nome_Mesorregião: string (nullable = true)
 |-- Microrregião Geográfica: string (nullable = true)
 |-- Nome_Microrregião: string (nullable = true)
 |-- Município: string (nullable = true)
 |-- Código Município Completo: string (nullable = true)
 |-- Nome_Município: string (nullable = true)

In [9]:
df2 = df2.withColumnRenamed('Código Município Completo','COD_MUN')
df2 = df2.withColumnRenamed('Nome_Município','NOME_MUN')
df2=df2.select('COD_MUN','NOME_MUN')
df2.limit(5).show()

+-------+--------------------+
|COD_MUN|            NOME_MUN|
+-------+--------------------+
|1100015|Alta Floresta D'O...|
|1100379|Alto Alegre dos P...|
|1100403|        Alto Paraíso|
|1100346|    Alvorada D'Oeste|
|1100023|           Ariquemes|
+-------+--------------------+

In [11]:
df3 = df.join(df2,df.CODMUNNASC==df2.COD_MUN)

In [13]:
df3.select('COD_MUN','NOME_MUN','CODMUNNASC').limit(5).show()

+-------+--------+----------+
|COD_MUN|NOME_MUN|CODMUNNASC|
+-------+--------+----------+
+-------+--------+----------+

In [16]:
df.select('CODMUNNASC').limit(5).show()

+----------+
|CODMUNNASC|
+----------+
|    170700|
|    291110|
|    171890|
|    172100|
|    172100|
+----------+