In [96]:
#Fundamentos em Big Data
#Tarefa 02
#Aluno: Leandro Ariel Caputo
#31/01/2021

In [97]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType

In [98]:
spark = SparkSession.builder \
                    .appName("Tarefa_02") \
                    .config("spark.some.config.option", "some-value") \
                    .getOrCreate()

In [99]:
#Tabelas Nascidos Vivos e Municipios IBGE
df = spark.read.csv('DNPBA2017.csv', header=True)
df2 = spark.read.csv('RELATORIO_DTB_BRASIL_MUNICIPIO.csv', header=True, encoding='ISO-8859-1')

In [100]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- NUMERODN: string (nullable = true)
 |-- CODINST: string (nullable = true)
 |-- ORIGEM: string (nullable = true)
 |-- NUMERODV: string (nullable = true)
 |-- PREFIXODN: string (nullable = true)
 |-- CODESTAB: string (nullable = true)
 |-- CODMUNNASC: string (nullable = true)
 |-- LOCNASC: string (nullable = true)
 |-- IDADEMAE: string (nullable = true)
 |-- ESTCIVMAE: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- CODOCUPMAE: string (nullable = true)
 |-- QTDFILVIVO: string (nullable = true)
 |-- QTDFILMORT: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- GESTACAO: string (nullable = true)
 |-- GRAVIDEZ: string (nullable = true)
 |-- PARTO: string (nullable = true)
 |-- CONSULTAS: string (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- HORANASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- APGAR1: string (nullable = true)
 |-- APGAR5: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- PESO: string (nullable = true)
 |-- IDANOMAL: string (nullable = true)
 |-- DTCADASTRO: string (nullable = true)
 |-- CODANOMAL: string (nullable = true)
 |-- NUMEROLOTE: string (nullable = true)
 |-- VERSAOSIST: string (nullable = true)
 |-- DTRECEBIM: string (nullable = true)
 |-- DIFDATA: string (nullable = true)
 |-- DTRECORIGA: string (nullable = true)
 |-- NATURALMAE: string (nullable = true)
 |-- CODMUNNATU: string (nullable = true)
 |-- CODUFNATU: string (nullable = true)
 |-- ESCMAE2010: string (nullable = true)
 |-- SERIESCMAE: string (nullable = true)
 |-- DTNASCMAE: string (nullable = true)
 |-- RACACORMAE: string (nullable = true)
 |-- QTDGESTANT: string (nullable = true)
 |-- QTDPARTNOR: string (nullable = true)
 |-- QTDPARTCES: string (nullable = true)
 |-- IDADEPAI: string (nullable = true)
 |-- DTULTMENST: string (nullable = true)
 |-- SEMAGESTAC: string (nullable = true)
 |-- TPMETESTIM: string (nullable = true)
 |-- CONSPRENAT: string (nullable = true)
 |-- MESPRENAT: string (nullable = true)
 |-- TPAPRESENT: string (nullable = true)
 |-- STTRABPART: string (nullable = true)
 |-- STCESPARTO: string (nullable = true)
 |-- TPNASCASSI: string (nullable = true)
 |-- TPFUNCRESP: string (nullable = true)
 |-- TPDOCRESP: string (nullable = true)
 |-- DTDECLARAC: string (nullable = true)
 |-- ESCMAEAGR1: string (nullable = true)
 |-- STDNEPIDEM: string (nullable = true)
 |-- STDNNOVA: string (nullable = true)
 |-- CODPAISRES: string (nullable = true)
 |-- TPROBSON: string (nullable = true)
 |-- PARIDADE: string (nullable = true)
 |-- KOTELCHUCK: string (nullable = true)

In [101]:
df2.printSchema()

root
 |-- UF: string (nullable = true)
 |-- Nome_UF: string (nullable = true)
 |-- Mesorregião Geográfica: string (nullable = true)
 |-- Nome_Mesorregião: string (nullable = true)
 |-- Microrregião Geográfica: string (nullable = true)
 |-- Nome_Microrregião: string (nullable = true)
 |-- Município: string (nullable = true)
 |-- Código Município Completo: string (nullable = true)
 |-- Nome_Município: string (nullable = true)

In [102]:
#Criando coluna com código de municipio de 6 digitos
df2 = df2.withColumn('COD_MUN', F.substring(F.col('Código Município Completo'), 1,6))

In [103]:
#Tabela Final Apenas com Códigos e Nomes dos Municipios
df2 = df2.withColumnRenamed('Nome_Município','NOME_MUN')
df2 = df2.select('COD_MUN','NOME_MUN')
df2.show(5)

+-------+--------------------+
|COD_MUN|            NOME_MUN|
+-------+--------------------+
| 110001|Alta Floresta D'O...|
| 110037|Alto Alegre dos P...|
| 110040|        Alto Paraíso|
| 110034|    Alvorada D'Oeste|
| 110002|           Ariquemes|
+-------+--------------------+
only showing top 5 rows

In [104]:
#Inner Join das Tabelas com base no código do municipio de nascimento
df = df.join(df2,df.CODMUNNASC==df2.COD_MUN)

In [105]:
df = df.withColumnRenamed('NOME_MUN','NOME_MUN_NASC')
df = df.drop('COD_MUN')

In [106]:
df.select('CODMUNNASC','NOME_MUN_NASC').show(5)

+----------+--------------------+
|CODMUNNASC|       NOME_MUN_NASC|
+----------+--------------------+
|    170700|          Dianópolis|
|    291110|Formosa do Rio Preto|
|    171890|Santa Rosa do Toc...|
|    172100|              Palmas|
|    172100|              Palmas|
+----------+--------------------+
only showing top 5 rows

In [107]:
df.first()

Row(_c0='1', NUMERODN='72390242', CODINST='ETO1721000001', ORIGEM='1', NUMERODV='0', PREFIXODN='30', CODESTAB='2786095', CODMUNNASC='170700', LOCNASC='1', IDADEMAE='25', ESTCIVMAE='5', ESCMAE='2', CODOCUPMAE='NA', QTDFILVIVO='04', QTDFILMORT='00', CODMUNRES='291110', GESTACAO='5', GRAVIDEZ='1', PARTO='1', CONSULTAS='2', DTNASC='24012017', HORANASC='0245', SEXO='1', APGAR1='08', APGAR5='09', RACACOR='4', PESO='3150', IDANOMAL='2', DTCADASTRO='14022017', CODANOMAL='NA', NUMEROLOTE='20170021', VERSAOSIST='3.2.00', DTRECEBIM='10042017', DIFDATA='076', DTRECORIGA='NA', NATURALMAE='829', CODMUNNATU='291110', CODUFNATU='29', ESCMAE2010='1', SERIESCMAE='3', DTNASCMAE='10061991', RACACORMAE='4', QTDGESTANT='04', QTDPARTNOR='04', QTDPARTCES='00', IDADEPAI='33', DTULTMENST='05052016', SEMAGESTAC='37', TPMETESTIM='8', CONSPRENAT='03', MESPRENAT='02', TPAPRESENT='1', STTRABPART='2', STCESPARTO='3', TPNASCASSI='2', TPFUNCRESP='2', TPDOCRESP='3', DTDECLARAC='24012017', ESCMAEAGR1='01', STDNEPIDEM='0', STDNNOVA='1', CODPAISRES='NA', TPROBSON='03', PARIDADE='1', KOTELCHUCK='3', NOME_MUN_NASC='Dianópolis')